
html
{
	scroll-behavior: smooth;
}

#fetch_repos_button
{
	display: block;
}

#input_field_1
{
	display: block;
}

#container
{
	border: 1px solid black;
	display: flex;
	align-items: center;
}

#container2
{
	border: 1px solid black;
	display: flex;
	align-items: center;
}

#contentpane
{
	border: 1px solid black;
	display: inline-block;
	
	width: 500px;
	height: 580px;
}

#contentpane2
{
	border: 1px solid black;
	display: inline-block;
	
	width: 500px;
	height: 580px;
}

#content
{
	width: 100%;
	border: 1px solid black;
}

#content2
{
	width: 100%;
	border: 1px solid black;
}

tr
{	
	white-space: pre;
	white-space: pre-line;
	display: flex;
}

#repo_cell:hover
{
	color: white;
	background-color: #d6d6d6;
	cursor: pointer;
}

#commit_cell
{
	border-bottom: 1px solid black;
}

td
{
	padding: 10px 10px 10px 10px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	word-wrap: break-word;
	text-align: center;
	
}
